.item {
  background: white;
  text-align: center;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  grid-column: span 4;
  padding: 20px;
  position: relative;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  img {
    max-width: 300px;
    margin-bottom: 90px;
  }

  .gameName {
    position: absolute;
    padding: 10px 20px;
    bottom: 5px;
    left: 50px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1200px) {
  .item {
    grid-column: span 6;
  }
}

@media (max-width: 700px) {
  .item {
    grid-column: span 12;
  }
}
