.list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;

  .item {
    padding: 30px 40px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: grab;
  }
}

@media (max-width: 1024px) {
  .item {
    padding: 20px 30px !important;
  }
}

@media (max-width: 830px) {
  .item {
    padding: 20px 20px !important;
  }
}

@media (max-width: 630px) {
  .item {
    padding: 15px 15px !important;
  }
}

@media (max-width: 500px) {
  .item {
    padding: 10px 10px !important;
  }
}
