
ul {
    list-style: none;
}



main {
    .title {
        margin-bottom: 60px;
    }
    text-align: center;
    button {
        padding: 10px 20px;
        border: none;
        border-radius: 15px;
        color: white;
        background: rgb(49, 49, 138);
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}


