.imagesList {
  display: flex;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
  gap: 150px;
  img {
    max-width: 250px;
    max-height: 150px;
  }
}


.title {
  margin-bottom: 50px;
}

.answersList {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.answer {
  max-width: 300px;
  cursor: grab;
  max-height: 200px;
}
