.item {
    background: white;
    grid-column: span 4;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 15px;
    text-align: center;
    img {
        max-width: 300px;
        margin-bottom: 90px;
    }

    .itemTitle {
        position: absolute;
        padding: 5px 20px;
        bottom: 0;
        left: 50px;
        margin-bottom: 10px;
    }
}