

.table {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .column {
        font-size: 12px;
        grid-column: span 2;
        border: 1px solid black;
        .name {
            padding: 0px 50px;
            border-bottom: 1px solid black;
        }

        .item {
            border: 1px solid black;
            padding: 0 20px;
            

        }


        .gameName {
            
            width: 200px;
        }



    }
}