.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .setMethods{
    display: flex;
    gap: 20px;
    padding: 10px 10px 10px 10px;
}

.activeButton{
    border: black solid 2px;
}

button{
    font-size: 19px;
    border: none;
    border-radius: 20px;
    padding: 7px 17px 7px 17px;

}

.main-adm-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.admin-container .activeButton{
    border: black solid 2px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
}
.loginform{
    margin-top: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
