.gamesList {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.exitBtn {
  background: transparent;
  border: none;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  padding-inline: 15px;
  border-radius: 8px;
  &:hover {
    border: 1px solid black;
  }
}

@media (max-width: 1200px) {
  .gamesList {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 30px;
  }
}


@media (max-width: 700px) {
  .gamesList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}
