.btnel{
    display: flex;
    justify-content: center;
}

.startbtn{
    
    align-items: center;

    background:red;
    color: white;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 300ms ease;
}

.btnel .startbtn:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.yourscore{
    display: flex;
    justify-content: center;
}

.Wrapper{
    height: 200px;
}